@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:ital,wght@0,300;0,500;1,400&family=Poppins:wght@300&family=Rubik&display=swap");
/*--------------------VARIABLES--------------------*/
/*----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/*--------------------HEADER--------------------*/
.colorFondo {
  background-color: #BDE0FE;
}
.colorFondo .logo {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem !important;
  color: #5B3000 !important;
  margin: 12px;
}

.carousel-item {
  height: 70% !important;
}

.flexible {
  width: 90%;
  justify-content: space-around;
  margin: 2px;
}
.flexible .letra {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem !important;
  color: #5B3000 !important;
}

/*-----------------------INDEX----------------------*/
.carousel-item {
  height: 80vh;
}
.carousel-item .imgCarrusel {
  object-fit: cover;
}

.presentacionB .presentacion, .presentacionB .presentacionP {
  color: #5B3000;
  margin-bottom: 12px;
  margin-top: 30px;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  padding: 15px;
}
.presentacionB .presentacionP {
  color: #050910;
  padding: 45px;
  font-size: 1.58rem;
  font-weight: 500;
  margin: 8px;
}
.presentacionB .presentacionP .resaltado {
  color: #5B3000;
  font-weight: 700;
}

.tarjetasEfecto .miembrosT {
  color: #5B3000;
  margin-bottom: 12px;
  margin-top: 30px;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  padding: 15px;
  margin: 20px;
}
.tarjetasEfecto .contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  row-gap: 68px;
  column-gap: 26px;
}
.tarjetasEfecto .contenedor .flip-card {
  width: 38vh;
  height: 65vh;
}
.tarjetasEfecto .contenedor .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border: 3px solid #5B3000;
  box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.75);
  transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
  transform-style: preserve-3d;
}
.tarjetasEfecto .contenedor .flip-card-front, .tarjetasEfecto .contenedor .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.tarjetasEfecto .contenedor .flip-card .flip-card-front {
  background-image: url(../img/kook!.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tarjetasEfecto .contenedor .flip-card .front2 {
  background-image: url(../img/yoongi!.jpg);
}
.tarjetasEfecto .contenedor .flip-card .front3 {
  background-image: url(../img/nam!.jpg);
}
.tarjetasEfecto .contenedor .flip-card .front4 {
  background-image: url(../img/hoseok!.jpg);
}
.tarjetasEfecto .contenedor .flip-card .front5 {
  background-image: url(../img/jimin!.jpg);
}
.tarjetasEfecto .contenedor .flip-card .front6 {
  background-image: url(../img/tae!!.jpg);
}
.tarjetasEfecto .contenedor .flip-card .front7 {
  background-image: url(../img/jin!!.jpg);
}
.tarjetasEfecto .contenedor .flip-card .flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
  font-size: 1.38rem;
  background-color: white;
  color: #050910;
  font-family: "Open Sans", sans-serif;
  transform: rotateY(180deg);
}
.tarjetasEfecto .contenedor .flip-card .flip-card-back .tituloC {
  padding-bottom: 10px;
  font-size: 2.45rem;
  font-style: italic;
  font-weight: 700;
  color: #5B3000;
  text-align: center;
}
.tarjetasEfecto .contenedor .flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
}

.novedades h3 {
  color: #5B3000;
  font-style: normal;
  font-size: 2.2em;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 15px;
}

/*-----------Contacto----------*/
.formulario {
  display: flex;
  min-height: 100vh;
}
.formulario .form {
  background: linear-gradient(27deg, pink 50%, #BDE0FE 50%);
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5rem 3rem;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.formulario .form .form_tittle, .formulario .form .form_paragraph {
  font-size: 2.3rem;
  padding: 4px;
  font-family: "Poppins", sans-serif;
  color: #5B3000;
  margin-bottom: 0.5rem;
}
.formulario .form .form_paragraph {
  font-size: 1.4rem;
  text-align: center;
}
.formulario .form .form_paragraph .form_link {
  font-weight: 400;
  color: #5B3000;
}
.formulario .form .form_container {
  margin-top: 3rem;
  display: grid;
  gap: 2.5rem;
}
.formulario .form .form_container .form_group {
  position: relative;
}
.formulario .form .form_container .form_group .form_input {
  width: 100%;
  color: white;
  font-size: 1rem;
  padding: 0.6rem 0.3rem;
  border: none;
  outline: none;
  border-bottom: 1px solid var(---color);
}
.formulario .form .form_container .form_group .form_input .form_input:focus + .form_label,
.formulario .form .form_container .form_group .form_input .form_input:not(:placeholder-shown) + .form_label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
}
.formulario .form .form_container .form_group .form_label {
  color: var(---color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}
.formulario .form .form_container .form_group .form_line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}
.formulario .form .form_container .form_group .form_line .form_input:focus ~ .form_line,
.formulario .form .form_container .form_group .form_line .form_input:not(:placeholder-shown) ~ .form_line {
  transform: scale(1);
}
.formulario .form .form_container .form_submit {
  background: #532C0B;
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 0.8rem 0;
  border: none;
  border-radius: 0.5rem;
}

/*-------CONTACTO------*/
/*-------Merch------*/
.tituloMerch {
  color: #5B3000;
  margin-bottom: 5px;
  margin-top: 30px;
  text-align: center;
  font-size: 3.02rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  padding: 15px;
}

.tarjetasT .padreT {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tarjetasT .padreT .ejemploT {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 50vh;
  margin: 35px;
  border: 10px outset pink;
  background-color: pink;
  box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.75);
  transition: all 400ms ease;
}
.tarjetasT .padreT .ejemploT:hover {
  transform: translateY(-3%);
}
.tarjetasT .padreT .ejemploT .imgT {
  height: 100%;
  width: 100%;
}
.tarjetasT .padreT .ejemploT .tituloT {
  font-size: 1.48rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #5B3000;
  margin: 10px;
}
.tarjetasT .padreT .ejemploT .precio {
  color: #5B3000;
  font-size: 1.38rem;
  font-weight: 700;
}
.tarjetasT .padreT .ejemploT .botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tarjetasT .padreT .ejemploT .botones .boton {
  text-decoration: none;
  background-color: #5B3000;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  color: white;
  padding: 10px 14px;
  border: none;
  font-size: 1.1rem;
  margin: 5px;
}
.tarjetasT .padreT .ejemploT .botones .boton2 {
  text-decoration: none;
  color: #5B3000;
  background-color: white;
  font-family: "Poppins", sans-serif;
  padding: 10px 14px;
  border: none;
  font-size: 1.1rem;
  margin: 5px;
}

.tituloOfertas {
  color: #5B3000;
  margin-bottom: 0px;
  margin-top: 40px;
  text-align: center;
  font-size: 3.02rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  padding: 5px;
}

.ejemploA {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: pink;
  margin-top: 50px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.75);
}
.ejemploA .ejemploB {
  display: flex;
  flex-direction: row;
  height: 42vh;
  width: 160vh;
}
.ejemploA .ejemploB .ejemploC {
  width: 92%;
  height: 100%;
  object-fit: cover;
}
.ejemploA .ejemploB .ejemploD {
  font-size: 2.1rem;
  font-weight: 600;
  text-align: end;
  font-family: "Poppins", sans-serif;
  color: #5B3000;
  padding: 60px;
  text-align: center;
}

/*-------Merch-----*/
/*-------nosotros------*/
.carousel-item .onu {
  margin-bottom: 8px;
}
.carousel-item .onu .imgOnu {
  object-fit: cover;
  height: 100%;
}

.citaTextual {
  font-size: 1.59rem;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.records {
  color: #5B3000;
  margin-bottom: 5px;
  margin-top: 30px;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

.padreNosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  column-gap: 10px;
  padding: 10px;
}
.padreNosotros .hijoNosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 42vh;
  height: 70vh;
  transition: all 400ms ease;
}
.padreNosotros .hijoNosotros:hover {
  transform: translateY(-3%);
}
.padreNosotros .hijoNosotros .imgNosotros {
  width: 100%;
  height: 65%;
}
.padreNosotros .hijoNosotros .tituloNosotros {
  text-align: center;
  font-weight: 600;
  padding: 10px;
}
.padreNosotros .hijoNosotros .parrafoNosotros {
  color: #050910;
  text-align: center;
  font-size: 1.15rem;
  font-family: "Poppins", sans-serif;
  padding: 5px;
}

/*-------nosotros------*/
/*-------Discografia------*/
.introDisco .discoTitulo, .introDisco .discoParrafo {
  color: #5B3000;
  margin-bottom: 5px;
  margin-top: 30px;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}
.introDisco .discoParrafo {
  color: #050910;
  padding: 45px;
  font-size: 1.54rem;
  font-weight: 500;
  margin: 8px;
}
.introDisco .discoParrafo .resaltado {
  color: #5B3000;
  font-weight: 700;
}

.discos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 70px;
  column-gap: 3px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.discos .discosC {
  height: 45vh;
  width: 45vh;
  transition: all 400ms ease;
}
.discos .discosC:hover {
  transform: translateY(-3%);
}
.discos .discosC .imgDisco {
  width: 100%;
  height: 100%;
}
.discos .discosC .botonDisco {
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discos .discosC .botonDisco .textoC {
  text-decoration: none;
  font-size: 1.15rem;
  color: #5B3000;
  padding: 6px;
}
.discos .discosC .botonDisco .textoC:hover {
  font-size: 1.2rem;
  font-weight: bold;
}

/*-------Discografia------*/
.color {
  background-color: #71acd4;
}

.error {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.error .tituloE {
  font-family: "Open Sans", sans-serif;
  font-size: 2.05rem;
  font-weight: 500;
  color: white;
}

/*-------------------------FOOTER----------------------*/
footer {
  background-color: #BDE0FE;
  text-align: center;
}

/*-----------------------MEDIA QUERY----------------------*/
@media screen and (max-width: 900px) {
  /*--pertenece a error404---*/
  .error .imgError {
    width: 38vh;
    height: 38vh;
  }
  .error .tituloE {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 10px;
  }
}
/*--pertenece a error404---*/
@media screen and (max-width: 700px) {
  /*--pertenece al index---*/
  .novedades {
    display: none;
  }
  /*--pertenece al index---*/
  /*--pertenece a discografia--*/
  .introDisco .discoTitulo, .introDisco .discoParrafo {
    font-size: 2.42rem;
    font-weight: 900;
    padding: 8px;
  }
  .introDisco .discoParrafo {
    padding: 5px;
    font-size: 1.38rem;
    font-weight: 500;
    margin: 8px;
  }
  .discos .discosC {
    height: 39vh;
    width: 39vh;
  }
  .discos .discosC .imgDisco {
    width: 100%;
    height: 100%;
  }
  /*---pertenece a discografia---*/
  /*--pertenece a merch---*/
  .tituloMerch {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .tarjetasT .padreT .ejemploT {
    height: initial;
    width: initial;
    margin: 18px;
    border: 6px outset pink;
  }
  .tarjetasT .padreT .ejemploT:hover {
    transform: translateY(-2%);
  }
  .tarjetasT .padreT .ejemploT .tituloT {
    font-size: 1.25rem;
    font-weight: 500;
  }
  .tituloOfertas {
    display: none;
  }
  .ejemploA {
    display: none;
  }
  /*--pertenece a merch---*/
  /*--pertenece al index---*/
  .presentacionB .presentacion, .presentacionB .presentacionP {
    font-size: 1.95rem;
    font-weight: 600;
  }
  .presentacionB .presentacionP {
    padding: 10px;
    font-size: 1.26rem;
    font-weight: 500;
  }
  .tarjetasEfecto .miembrosT {
    font-size: 1.95rem;
    font-weight: 600;
  }
  .tarjetasEfecto .contenedor .flip-card {
    width: 35vh;
    height: 62vh;
  }
  .tarjetasEfecto .contenedor .flip-card .flip-card-back {
    font-size: 1.2rem;
  }
  .tarjetasEfecto .contenedor .flip-card .flip-card-back .tituloC {
    font-size: 2.15rem;
    padding-bottom: 2px;
  }
  /*--pertenece al index---*/
  /*--pertenece a nosotros----*/
  .nosotrosT .tituloNosotros .records {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .padreNosotros .hijoNosotros .tituloNosotros {
    text-align: center;
  }
  .padreNosotros .hijoNosotros .parrafoNosotros {
    text-align: center;
  }
  /*--pertenece a nosotros---*/
  /*--pertenece a contacto---*/
  .formulario .form .form_tittle, .formulario .form .form_paragraph {
    font-size: 2.15rem;
  }
  .formulario .form .form_paragraph {
    font-size: 1.15rem;
  }
  /*--pertenece a contacto---*/
  /*--pertenece a error404---*/
  .error .imgError {
    width: 38vh;
    height: 38vh;
  }
  .error .tituloE {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 10px;
  }
}
/*--pertenece a error404---*/
@media screen and (max-width: 400px) {
  .tarjetasEfecto .miembrosT {
    font-size: 1.95rem;
    font-weight: 600;
  }
  .tarjetasEfecto .contenedor .flip-card {
    width: 35vh;
    height: 62vh;
  }
  .tarjetasEfecto .contenedor .flip-card .flip-card-back {
    font-size: 1.05rem;
  }
  .tarjetasEfecto .contenedor .flip-card .flip-card-back .tituloC {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
