/*----RESET----*/


@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:ital,wght@0,300;0,500;1,400&family=Poppins:wght@300&family=Rubik&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


/*--------------------HEADER--------------------*/


.colorFondo{
    background-color: #BDE0FE;
}

.carousel-item{
    height: 70% !important;
}

.flexible{
    width: 90%;
    justify-content: space-around;
    margin: 2px;

}

.logo{
    font-family:'Poppins', sans-serif;
    font-size: 2.20rem !important;
    color: #5B3000 !important;
    margin: 12px;
}

.letra{
    font-family:'Poppins', sans-serif;
    font-size: 1.35rem !important;
    color: #5B3000 !important;
}



/*-----------------------MAIN----------------------*/


.carousel-item{
    height: 80vh;
}

.imgCarrusel{
    object-fit: cover;
}



.miembros .padre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px;
    row-gap: 30px;
    column-gap: 5px;
}


.miembros .padre div{
    width: 38vh;
    height: 70vh;
    border: 2px solid#5B3000;
    margin: 20px;
    box-shadow: 10px 10px 28px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 28px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 28px -1px rgba(0,0,0,0.75);
}


.miembros div img{
    width: 100%;
    height: 85%;
    object-fit: cover;
}


.miembros .miembrosT{
    color:#5B3000;
    margin-bottom: 12px;
    margin-top: 30px;
    text-align: center;
    font-size: 2.55rem;
    font-weight: 900;
    font-family:'Poppins', sans-serif;
    padding: 15px;
}


.miembros div h3{
    color:#5B3000;
    font-size: 1.58rem;
    font-style: italic;
    font-weight: 500;
    font-family:'Poppins', sans-serif;
    padding: 5px;
    text-align: center;
}

.miembros div p{
    color:#5B3000;
    font-weight: 600;
    font-size: 1.18rem;
    font-family:'Open Sans', sans-serif;
    text-align: center;
}


.novedades h3{
    color: #532C0B;
    font-style: normal;
    font-size:  2.2em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin: 15px;
}



/*-----------Contacto----------*/


.formulario{
    display: flex;
    min-height: 100vh;
}

.form{
    background: linear-gradient(27deg,pink 50% ,rgb(196, 236, 243) 50% );
    margin: auto;
    width: 90%;                                  
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0/ 30%);
    text-align: center;
}

.form_tittle{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: #532C0B;
    margin-bottom: .5em;
}

.form_paragraph{
    font-size: 1.35rem;
    font-family: 'Poppins', sans-serif;
    color: #532C0B;

}

.form_link{
    font-weight: 400;
    color:#532C0B;
}

.form_container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form_group{
    position: relative;
}

.form_input{
    width: 100%;
    color: white;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(---color);
}


.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
}


.form_label{
    color: var(---color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;

}

.form_submit{
    background: #532C0B;
    color: white;
    font-weight: 300;
    font-family:'Poppins', sans-serif; ;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;

}

.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;

}


.form_input:focus ~ .form_line,
.form_input:not(:placeholder-shown) ~ .form_line{
    transform: scale(1);
}



/*-------CONTACTO------*/


/*-------Merch------*/


h1{
    color:#5B3000;
    margin-bottom: 5px;
    margin-top: 30px;
    text-align: center;
    font-size: 2.55rem;
    font-weight: 900;
    font-family:'Poppins', sans-serif;
    padding: 15px;
}


.tarjetasT .padreT{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ejemploT{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 50vh;
    margin: 35px;
    border: 10px outset pink;
    background-color: pink;
    box-shadow: 10px 10px 28px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 28px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 28px -1px rgba(0,0,0,0.75)
}

.ejemploT img{
    height: 100%;
    width: 100%;
}

.ejemploT h3{
    font-size: 1.45rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color:#5B3000;
    margin: 10px;
}


/*-------Merch------*/



/*-------nosotros------*/


.carousel-item .onu{
    margin-bottom: 8px;
}


.imgOnu{
    object-fit: cover;
    height: 100%;
}


.cita{
    font-size: 1.55rem; 
    font-weight: 658;
    font-family:'Poppins', sans-serif;
    color: white;

}



.records{
    color:#5B3000;
    margin-bottom: 5px;
    margin-top: 30px;
    text-align: center;
    font-size: 2.55rem;
    font-weight: 900;
    font-family:'Poppins', sans-serif;
    padding: 15px;
}


.alto{
    height: 50vh;
}

.imgGaleria{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.discografia{
    margin-top: 10px;
    margin-bottom: 25px;
}



/*-------nosotros------*/




/*-------Discografia------*/


.discos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
    column-gap: 3px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.discosC{
    height: 45vh;
    width: 45vh;
}

.discos .imgDisco{
    width: 97%;
    height: 97%;
}


.discos div p{
    text-align: center;
    padding: 8px 10px;
    background-color: pink;
    font-size: 1.15rem;
    font-family: 'Poppins', sans-serif;
    width: 97%;

}
    
.efecto:hover{
    color:aqua;
}


/*-------Discografia------*/






/*-------------------------FOOTER----------------------*/


footer{
    background-color: #BDE0FE;
    text-align: center;
}
