@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:ital,wght@0,300;0,500;1,400&family=Poppins:wght@300&family=Rubik&display=swap");
/*--------------------VARIABLES--------------------*/
/*----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/*-----------------------aca van a ir todas las class sueltas----------------------*/
/*-------hover no esta funcionando, VERIFICAR ------*/
/*-----------------------aca van a ir todas las class sueltas----------------------*/
/*-------hover no esta funcionando, VERIFICAR ------*/
/*--------------------HEADER--------------------*/
.colorFondo {
  background-color: #BDE0FE;
}
.colorFondo .logo {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem !important;
  color: #5B3000 !important;
  margin: 12px;
}

.carousel-item {
  height: 70% !important;
}

.flexible {
  width: 90%;
  justify-content: space-around;
  margin: 2px;
}
.flexible .letra {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem !important;
  color: #5B3000 !important;
}

/*-----------------------INDEX----------------------*/
.carousel-item {
  height: 80vh;
}
.carousel-item .imgCarrusel {
  object-fit: cover;
}

.miembros .miembrosT {
  color: #5B3000;
  margin-bottom: 12px;
  margin-top: 30px;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  padding: 15px;
}

.padre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  row-gap: 30px;
  column-gap: 5px;
}
.padre .hijoT {
  width: 38vh;
  height: 70vh;
  border: 2px solid #5B3000;
  margin: 20px;
  box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.75);
}
.padre .hijoT .miembrosImg {
  width: 100%;
  height: 85%;
  object-fit: cover;
}
.padre .hijoT .tituloT, .padre .hijoT .botonT {
  color: #5B3000;
  font-size: 1.72rem;
  font-style: italic;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding-top: 6px;
  text-align: center;
}
.padre .hijoT .botonT {
  font-weight: 700;
  font-size: 1.3rem;
  font-style: initial;
  font-family: "Open Sans", sans-serif;
}

.novedades h3 {
  color: #5B3000;
  font-style: normal;
  font-size: 2.2em;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 15px;
}

/*-----------Contacto----------*/
.formulario {
  display: flex;
  min-height: 100vh;
}
.formulario .form {
  background: linear-gradient(27deg, pink 50%, #BDE0FE 50%);
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5rem 3rem;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.formulario .form .form_tittle, .formulario .form .form_paragraph {
  font-size: 2.3rem;
  padding: 4px;
  font-family: "Poppins", sans-serif;
  color: #5B3000;
  margin-bottom: 0.5rem;
}
.formulario .form .form_paragraph {
  font-size: 1.4rem;
  text-align: center;
}
.formulario .form .form_paragraph .form_link {
  font-weight: 400;
  color: #5B3000;
}
.formulario .form .form_container {
  margin-top: 3rem;
  display: grid;
  gap: 2.5rem;
}
.formulario .form .form_container .form_group {
  position: relative;
}
.formulario .form .form_container .form_group .form_input {
  width: 100%;
  color: white;
  font-size: 1rem;
  padding: 0.6rem 0.3rem;
  border: none;
  outline: none;
  border-bottom: 1px solid var(---color);
}
.formulario .form .form_container .form_group .form_input .form_input:focus + .form_label,
.formulario .form .form_container .form_group .form_input .form_input:not(:placeholder-shown) + .form_label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
}
.formulario .form .form_container .form_group .form_label {
  color: var(---color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}
.formulario .form .form_container .form_group .form_line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}
.formulario .form .form_container .form_group .form_line .form_input:focus ~ .form_line,
.formulario .form .form_container .form_group .form_line .form_input:not(:placeholder-shown) ~ .form_line {
  transform: scale(1);
}
.formulario .form .form_container .form_submit {
  background: #532C0B;
  color: white;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 0.8rem 0;
  border: none;
  border-radius: 0.5rem;
}

/*-------CONTACTO------*/
/*-------Merch------*/
.tituloMerch {
  color: #5B3000;
  margin-bottom: 5px;
  margin-top: 30px;
  text-align: center;
  font-size: 3.02rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  padding: 15px;
}

.tarjetasT .padreT {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tarjetasT .padreT .ejemploT {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 62vh;
  width: 52vh;
  margin: 35px;
  border: 10px outset pink;
  background-color: pink;
  box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.75);
}
.tarjetasT .padreT .ejemploT .imgT {
  height: 100%;
  width: 100%;
}
.tarjetasT .padreT .ejemploT .tituloT, .tarjetasT .padreT .ejemploT .padre .hijoT .botonT, .padre .hijoT .tarjetasT .padreT .ejemploT .botonT {
  font-size: 1.45rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #5B3000;
  margin: 10px;
}
.tarjetasT .padreT .ejemploT .tituloT:hover, .tarjetasT .padreT .ejemploT .padre .hijoT .botonT:hover, .padre .hijoT .tarjetasT .padreT .ejemploT .botonT:hover {
  font-weight: 900;
}

.tituloOfertas {
  color: #5B3000;
  margin-bottom: 0px;
  margin-top: 40px;
  text-align: center;
  font-size: 3.02rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  padding: 5px;
}

.ejemploA {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: pink;
  margin-top: 50px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.75);
}
.ejemploA .ejemploB {
  display: flex;
  flex-direction: row;
  height: 42vh;
  width: 160vh;
}
.ejemploA .ejemploB .ejemploC {
  width: 92%;
  height: 100%;
  object-fit: cover;
}
.ejemploA .ejemploB .ejemploD {
  font-size: 2.1rem;
  font-weight: 600;
  text-align: end;
  font-family: "Poppins", sans-serif;
  color: #5B3000;
  padding: 60px;
  text-align: center;
}

/*-------Merch-----*/
/*-------nosotros------*/
.carousel-item .onu {
  margin-bottom: 8px;
}
.carousel-item .onu .imgOnu {
  object-fit: cover;
  height: 100%;
}

.citaTextual {
  font-size: 1.59rem;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.tituloNosotros .records {
  color: #5B3000;
  margin-bottom: 5px;
  margin-top: 30px;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

.discografia {
  margin-top: 10px;
  margin-bottom: 25px;
}
.discografia .alto {
  height: 50vh;
}
.discografia .alto .imgGaleria {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.historia {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.historia .historiaHijo {
  width: 90vh;
  height: 50vh;
  display: flex;
}
.historia .historiaHijo .imgHistoria {
  object-fit: cover;
}
.historia .historiaTexto {
  margin: 6px;
  text-align: center;
  font-size: 1.45rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to right, red, yellow);
  width: 54vh;
  height: 50vh;
  display: flex;
  align-items: center;
}

/*-------nosotros------*/
/*-------Discografia------*/
.discos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 50px;
  column-gap: 3px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.discos .discosC {
  height: 45vh;
  width: 45vh;
}
.discos .discosC .imgDisco {
  width: 97%;
  height: 97%;
}
.discos .discosC .textoC {
  text-align: center;
  padding: 8px 10px;
  background-color: pink;
  font-size: 1.15rem;
  width: 97%;
  color: #5B3000;
}
.discos .discosC .textoC:hover {
  font-size: 1.2rem;
  font-weight: bold;
}

/*-------Discografia------*/
/*-------------------------FOOTER----------------------*/
footer {
  background-color: #BDE0FE;
  text-align: center;
}

/*-----------------------MEDIA QUERY----------------------*/
@media screen and (max-width: 700px) {
  /*--pertenece al index---*/
  .novedades {
    display: none;
  }
  /*--pertenece al index---*/
  /*--pertenece a discografia---*/
  .discografia .alto {
    height: initial;
  }
  /*--pertenece a discografia---*/
  /*--pertenece a merch---*/
  .tituloMerch {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .tarjetasT .padreT .ejemploT {
    height: initial;
    width: initial;
    margin: 18px;
    border: 6px outset pink;
  }
  .tarjetasT .padreT .ejemploT .tituloT, .tarjetasT .padreT .ejemploT .padre .hijoT .botonT, .padre .hijoT .tarjetasT .padreT .ejemploT .botonT {
    font-size: 1.25rem;
    font-weight: 500;
  }
  .tituloOfertas {
    display: none;
  }
  .ejemploA {
    display: none;
  }
  /*--pertenece a merch---*/
  /*--pertenece al index---*/
  .miembros .miembrosT {
    font-size: 1.9rem;
    font-weight: 600;
  }
  .padre .hijoT {
    width: 38vh;
    height: 65vh;
  }
  .padre .hijoT .miembrosImg {
    width: 100%;
    height: 85%;
  }
  .padre .hijoT .tituloT, .padre .hijoT .botonT {
    font-size: 1.55rem;
    font-weight: 600;
    padding: 2px;
  }
  .padre .hijoT .botonT {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 35px;
  }
  /*--pertenece al index---*/
  /*--pertenece a nosotros---*/
  .tituloNosotros .records {
    font-size: 1.9rem;
    font-weight: 600;
  }
  .historia .historiaHijo {
    display: none;
  }
  .historia .historiaTexto {
    font-size: 1.35rem;
    font-weight: 600;
  }
  /*--pertenece a nosotros---*/
  /*--pertenece a contacto---*/
  .formulario .form .form_tittle, .formulario .form .form_paragraph {
    font-size: 2.15rem;
  }
  .formulario .form .form_paragraph {
    font-size: 1.15rem;
  }
  /*--pertenece a contacto---*/
}

/*# sourceMappingURL=style.css.map */
