/*-------Merch------*/
.tituloMerch{
    color:$color-texto;
    margin-bottom: 5px;
    margin-top: 30px;
    text-align: center;
    font-size: 3.02rem;
    font-weight: 800;
    font-family: $tipografia-general;
    padding: 15px;
}


.tarjetasT .padreT{
    @include flex-direction-center (row);
    flex-wrap: wrap;
    justify-content: space-around;
    .ejemploT{
        @include flex-direction-center (column);
        align-items: center;
        height: 70vh;
        width: 50vh;
        margin: 35px;
        border: 10px outset pink;
        background-color: pink;
        box-shadow: 10px 10px 28px -1px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 28px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 28px -1px rgba(0,0,0,0.75);
        transition: all 400ms ease;
        &:hover{
            transform: translateY(-3%);
        }
        .imgT{
            height: 100%;
            width: 100%;
            }
        .tituloT{
                font-size: 1.48rem;
                font-weight: 700;
                font-family: $tipografia-general;
                color: $color-texto;
                margin: 10px;
            }
        .precio{
                color: $color-texto;
                font-size: 1.38rem;
                font-weight: 700;
            }
        .botones{
            display: flex;
            flex-direction: row;
            justify-content: center;
                .boton{ 
                    text-decoration: none;
                    background-color: $color-texto;
                    font-family: $tipografia-general;
                    font-size: medium;
                    color: white;
                    padding: 10px 14px;
                    border: none;
                    font-size: 1.10rem;
                    margin:5px
                }
                .boton2{
                    text-decoration: none;
                    color: $color-texto;
                    background-color: white;
                    font-family: $tipografia-general;
                    padding: 10px 14px;
                    border: none;
                    font-size: 1.10rem;
                    margin:5px;
                }
            }
    }
}




.tituloOfertas{
    color:$color-texto;
    margin-bottom: 0px;
    margin-top: 40px;
    text-align: center;
    font-size: 3.02rem;
    font-weight: 800;
    font-family: $tipografia-general;
    padding: 5px;
}



.ejemploA{
    @include flex-direction-center (row);
    justify-content: space-between;
    background-color: pink; 
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 28px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 28px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 28px -1px rgba(0,0,0,0.75);
    .ejemploB{
        display: map-get($estilos, flexible );
        flex-direction: map-get($estilos, direccion);
        height: map-get($estilos, altura);
        width: map-get($estilos, ancho);
        .ejemploC{
            width: 92%;
            height: 100%;
            object-fit: cover;
        }
        .ejemploD{
            font-size: 2.10rem;
            font-weight: 600;
            text-align: end;
            font-family: $tipografia-general;
            color: $color-texto;
            padding: 60px;
            text-align:center;
        }
    }

}







/*-------Merch-----*/







