/*-----------------------MEDIA QUERY----------------------*/


@media screen and (max-width:900px){
    /*--pertenece a error404---*/

    .error{
        .imgError{
            width: 38vh;
            height: 38vh;
        }
        .tituloE{
            font-size: 1.40rem;
            font-weight: 500;
            margin: 10px;
        }
    }

}
    /*--pertenece a error404---*/



@media screen and (max-width:700px) {

    /*--pertenece al index---*/
    .novedades {
        display: none;
    }

    /*--pertenece al index---*/

    /*--pertenece a discografia--*/
    
    
    .introDisco{
        .discoTitulo{
            font-size: 2.42rem;
            font-weight: 900;
            padding: 8px;
        }
        .discoParrafo{
            padding: 5px;
            font-size: 1.38rem;
            font-weight: 500;
            margin: 8px;
            
        }
    }
        
    .discos{
        .discosC{
            height: 39vh;
            width: 39vh;
            .imgDisco{
                width: 100%;
                height: 100%;
            }
        }
            
    }
        


    /*---pertenece a discografia---*/

    /*--pertenece a merch---*/
    .tituloMerch{
        font-size: 1.80rem;
        font-weight: 600;
    }

    .tarjetasT {
        .padreT {
            .ejemploT {
                height: initial;
                width: initial;
                margin: 18px;
                border: 6px outset pink;
                &:hover{
                    transform: translateY(-2%);
                }
                .tituloT{
                    font-size: 1.25rem;
                    font-weight: 500;
                }
            }
        }
    }

    .tituloOfertas{
        display: none;
    }

    .ejemploA{
        display: none;
    }


    /*--pertenece a merch---*/

    /*--pertenece al index---*/

    .presentacionB{
        .presentacion{
            font-size: 1.95rem;
            font-weight: 600;
        }
        .presentacionP{
            padding: 10px;
            font-size: 1.26rem;
            font-weight: 500;
            
        }
            
    }


    .tarjetasEfecto{
        .miembrosT {
            font-size: 1.95rem;
            font-weight: 600;
        }
        .contenedor{
            .flip-card{
                width: 35vh;
                height: 62vh;
                .flip-card-back{
                        font-size: 1.20rem;
                        .tituloC{
                            font-size: 2.15rem;
                            padding-bottom: 2px;
                        }
                }
            }
        }
    }


    /*--pertenece al index---*/


    /*--pertenece a nosotros----*/

    .nosotrosT{
        .tituloNosotros{
            .records{
                font-size: 2.40rem;
                font-weight: 600;
            }
            
        }
    }



    .padreNosotros{
        .hijoNosotros{
            .tituloNosotros{
                text-align: center;
            }
            .parrafoNosotros{
                text-align: center;
            }
        }
    
    }

    /*--pertenece a nosotros---*/


    /*--pertenece a contacto---*/


    .formulario{
        .form{
            .form_tittle{
                font-size: 2.15rem;
            }
            .form_paragraph{
                font-size: 1.15rem;
            }
        }
    }

    /*--pertenece a contacto---*/

    /*--pertenece a error404---*/

    
    .error{
        .imgError{
            width: 38vh;
            height: 38vh;
        }
        .tituloE{
            font-size: 1.40rem;
            font-weight: 500;
            margin: 10px;
        }
    }

}

    /*--pertenece a error404---*/



@media screen and (max-width:400px) {

    .tarjetasEfecto{
        .miembrosT {
            font-size: 1.95rem;
            font-weight: 600;
        }
        .contenedor{
            .flip-card{
                width: 35vh;
                height: 62vh;
                .flip-card-back{
                        font-size: 1.05rem;
                        .tituloC{
                            font-size: 1.50rem;
                        }
                }
            }
        }
    }
}

