/*--------------------VARIABLES--------------------*/



$tipografia-general:'Poppins', sans-serif;
$tipografia-alternativa:'Open Sans', sans-serif;


$color-primario: #BDE0FE;
$color-texto: #5B3000;
$color-parrafo:#050910;

$estilos: (
    flexible: flex,
    direccion: row,
    altura: 42vh,
    ancho: 160vh,
);

$c-bezier: cubic-bezier(.1,.22,.8,1.13);


/*----------------------------------------*/
